* {
    font-family:times;
}
/*asterisk selects everything*/
/*command slash to comment*/

body {
    background-color:#7694AB;
}

p {
    color: #024327;
}


#catmemecaption {
    font-size:2rem;
}

h1 {
    color: #1F1F63;
}

h2 {
    color:#37377D;
}
h3 {
    color:#0C0C45;
}
u1 {
    color: #024327;
}



/*Grid-related portion*/

#grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    
}

#heading {
    grid-column: span 3;
    background-color: #06263F;
}

#body {
    background-color: #7694AB;
    min-height:600px;
}

#right-margin {background-color: #4C718E}
#left-margin {background-color: #4C718E}

#footer {
    grid-column: span 3;
    background-color: #06263F;
}