* {
    font-family:times;
}
/*asterisk selects everything*/
/*command slash to comment*/

body {
    background-color:#06263F;
    margin:0;
    font-size: 1.2rem;
}

/*p {*/
    /*color: #024327;*/
/*}*/



h1 {
    color: #1F1F63;
    text-align: center
}

h2 {
    color:#37377D;
}
h3 {
    color:#0C0C45;
}
/*u1 {*/
/*    color: #024327;*/
/*}*/



/*Grid-related portion*/

#grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#heading {
    grid-column: span 3;
    background-color: #06263F;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align:center;
    min-height:50px;
    padding-top:20px;
}


#body {
    background-color: #7694AB;
    min-height:80vh;
    padding: 20px;
}

#right-margin {background-color: #4C718E}
#left-margin {background-color: #4C718E}

#footer {
    grid-column: span 3;
    background-color: #06263F;
    color: #4C9777; /*This doesn't seem to do anything; I'm not sure why*/
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

#footer-contact {
    text-align:center;
    color: #59599A;    
    /*color: #136140;*/
}

#footer-contact-1 {
    text-align:center;
    color: white;
}

#copyright {
    font-size: 0.8rem;
    /*color: #59599A;*/
    color: #136140;
}

#copyright-1{
    font-size: 0.8rem;
    color:white;
}

#programming {
    background-color: white;
}

#programming-footer {
    overflow:hidden;
}

.picture {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
}